03_unp_데이터셋 정리 필요/260113_unp_05_Main_Quest/fraud.csv
07_dataton_raw/
08_dl/260305_dl_mini-project_rock scissor paper/venv
08_dl/260305_dl_mini-project_rock scissor paper/test
08_dl/260305_dl_mini-project_rock scissor paper/rock_scissor_paper